# Portofolio:

## Business Understanding

### Introduction

### Objectives

### Tools and Dataset Needed

### Methodology

## Data Understanding

### Data Acquisition

In [1]:
import datetime as dt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_csv('data/seblak_transaction.csv')

### Data Profiling

In [4]:
# dataset info
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147005 entries, 0 to 147004
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id_transaksi       147005 non-null  int64
 1   tanggal_transaksi  147005 non-null  object
 2   nama_makanan       147005 non-null  object
 3   jumlah             147005 non-null  int64
dtypes: int64(2), object(2)
memory usage: 4.5+ MB

In [5]:
# missing values
dataset.isnull().sum()

id_transaksi         0
tanggal_transaksi    0
nama_makanan         0
jumlah               0
dtype: int64

In [7]:
# duplicated values
dataset.duplicated().sum()

np.int64(0)

In [9]:
# correct wrong format
dataset['tanggal_transaksi'] = pd.to_datetime(dataset['tanggal_transaksi'])

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147005 entries, 0 to 147004
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id_transaksi       147005 non-null  int64
 1   tanggal_transaksi  147005 non-null  datetime64[ns]
 2   nama_makanan       147005 non-null  object
 3   jumlah             147005 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 4.5+ MB

### Descriptive Statistics

In [21]:
dataset['nama_makanan'].value_counts()

nama_makanan
dumpling_keju     9321
kerupuk_bubur     9282
sosis             9238
kerupuk_mawar     9229
flower_twister    9213
kerupuk_bawang    9203
lidah             9195
chikuwa           9192
dumpling_ayam     9186
fishroll          9176
batagor_kering    9159
crab_stick        9156
bakso_tahu        9144
mie               9143
enoki             9095
bakso_ikan        9073
Name: count, dtype: int64

In [17]:
pd.crosstab(index=dataset['id_transaksi'],
            columns=dataset['nama_makanan'])

nama_makanan,bakso_ikan,bakso_tahu,batagor_kering,chikuwa,crab_stick,dumpling_ayam,dumpling_keju,enoki,fishroll,flower_twister,kerupuk_bawang,kerupuk_bubur,kerupuk_mawar,lidah,mie,sosis
id_transaksi,,,,,,,,,,,,,,,,
1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,1,1,1,0,0,0,1,0,0,1,1,0
3,0,0,0,0,0,0,1,0,0,1,1,1,1,1,1,0
4,0,0,0,1,0,1,1,0,0,1,1,1,0,0,1,0
5,0,0,1,1,1,0,0,0,0,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20352,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
20353,0,1,0,0,1,1,0,1,0,1,1,1,0,1,0,0
20354,1,1,0,1,1,1,0,0,0,0,1,1,0,0,1,1
20355,0,0,1,0,0,0,0,1,1,0,0,1,1,0,1,0
20356,1,0,0,0,1,0,1,1,1,0,1,0,0,0,0,1

## Data Preprocessing

## Modeling

## Insights

### Interpretation and Reporting

### Action

### Further Analysis